.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mapContainer {
  height: 100vh;
  flex-grow: 1;
}

.marker {
  display: none;
  height: 2rem;
}
.mapboxgl-control-container {
  display: none;
}
div[mapboxgl-children] {
  display: none !important;
}

.deleteButton {
  position: fixed;
  top: 0rem;
  right: 0;
}
